$options-padding-x: 20px;
$options-padding-y: 7px;

// @import '../../../../@core/scss/base/bootstrap-extended/include';
// Overrides user variable
/*@import '../../../../@core/scss/base/components/include';
@import 'vue-select/src/scss/global/_variables.scss';*/

//  Global Component Variables
$vs-component-line-height: 1.8;
// $vs-component-placeholder-color: $body-color;

//  Active State
$vs-state-active-bg: rgba(var(--v-theme-primary), 0.12);
$vs-state-active-color: var(--v-theme-primary) !important;

// Border
/*$vs-border-width: $input-border-width;
$vs-border-radius: $input-border-radius;
$vs-border-color: $input-border-color;*/

//  Selected
$vs-selected-bg: var(--v-theme-primary);
$vs-selected-border-width: 0;

// Dropdown
$vs-dropdown-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);

@import "vue-select/dist/vue-select.css";

.vs--open .vs__dropdown-toggle {
  border-bottom: var(--vs-border-width) var(--vs-border-style) var(--vs-border-color);
  border-bottom-left-radius: var(--vs-border-radius);
  border-bottom-right-radius: var(--vs-border-radius);
}

.vs__dropdown-menu {
  width: 100%;
  margin-top: 0.25rem;
  padding-top: 0;
  border: 1px solid var(--vs-border-color);
  border-radius: var(--vs-border-radius);
}
