.v-btn {
  text-transform: none;
  .v-btn--size-default {
    transform: scale(1);
    --v-btn-size: 0.9375rem;
    --v-btn-height: 2.5rem;
    line-height: 1.375rem;
    letter-spacing: 0.02688rem;
  }
  .v-btn--size-small {
    transform: scale(1);
    --v-btn-size: 0.8125rem;
    --v-btn-height: 2rem;
    line-height: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.02688rem;
  }

  &.v-btn--rectangle {
    padding-left: 0;
    padding-right: 0;
    &.v-btn--size-default {
      width: 2.5rem;
      min-width: 2.5rem;
    }
    &.v-btn--size-small {
      width: 2rem;
      min-width: 2rem;
    }
  }
}

.v-tabs .v-btn {
  font-weight: 600;
}
