.v-text-field {
  &:not(.v-textarea) {
    height: 2.5rem;
  }
  input.v-field__input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.v-input {
  .v-text-field__suffix {
    opacity: 1;
  }

  .v-field--disabled {
    opacity: 1;
  }

  &.v-text-field {
    .v-field__input {
      line-height: 1.5rem;
    }
    &.v-input--disabled {
      background: rgb(var(--v-theme-grey-100));
      color: rgba(var(--v-theme-grey-900), var(--v-muted-placeholder-opacity));

      input.v-field__input {
        color: rgba(var(--v-theme-grey-900), var(--v-muted-placeholder-opacity));
      }
    }
  }
}
.v-field__input input::placeholder,
input.v-field__input::placeholder,
textarea.v-field__input::placeholder
{
  color: rgba(var(--v-theme-grey-900), var(--v-muted-placeholder-opacity))!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.app-text-field {
  &--small {
    .v-input {
      height: 2rem;
      .v-field__input {
        padding: 0.375rem 0.75rem;
        line-height: 1.25rem;
        min-height: 1.25rem;
      }
    }
  }
}
