.v-list {
  .v-list-item {
    &:not(:hover) {
      color: rgb(var(--v-theme-grey-900), --v-body-opacity);
    }
    &__content {
      &:not(:hover) {
        color: rgb(var(--v-theme-grey-900), --v-body-opacity);
      }
    }
  }
  .v-list-item-title {
    &:not(:hover) {
      color: rgb(var(--v-theme-grey-900), --v-body-opacity);
    }
  }
}
