.v-switch.v-switch--inset {


  &.v-input--disabled.v-input--dirty:not(.not-checked) {
    .v-switch__track {
      background: rgb(var(--v-theme-primary));
      opacity: 1;
    }
  }
  &.v-input--disabled.v-input--dirty.not-checked {
    .v-switch__track {
      background-color: rgb(var(--v-theme-grey-300)) !important;
      border: none !important;
    }
  }
}
