@use "./components" as island-componets;

body[data-layout="island"] {
  @include island-componets.apply;

  background-color: rgba(var(--v-island-layout-bg)) !important;

  .v-overlay-container {
    .v-overlay__content {
      border: 1px solid rgb(var(--v-island-border-color));
    }

    .v-list {
      background-color: rgba(var(--v-island-card-bg)) !important;
    }
  }

  .modal-card,
  .Vue-Toastification__toast.Vue-Toastification__toast--default {
    background-color: rgba(var(--v-island-card-bg)) !important;
  }

  aside.layout-vertical-nav,
  .layout-content-wrapper {
    background-color: rgba(var(--v-island-layout-bg)) !important;
  }

  .layout-content-wrapper {
    padding: 1rem 1rem 1rem 0;
  }

  .layout-navbar {
    background-color: rgba(var(--v-island-page-bg));
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
  }

  .layout-page-content {
    background-color: rgba(var(--v-island-page-bg));
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .title-text-color {
    color: rgba(var(--v-theme-white), var(--v-high-emphasis-opacity)) !important;
  }

  .layout-nav-type-vertical .layout-vertical-nav .nav-group > :first-child::before {
    background-color: rgba(var(--v-island-active-nav-bg), var(--v-hover-opacity)) !important;
  }

  .nav-group-label {
    .nav-item-icon, i.v-icon {
      color: rgba(var(--v-theme-white), var(--v-high-emphasis-opacity)) !important;
    }
  }

  .nav-item-title, .nav-item-title.nav-item-color {
    color: rgba(var(--v-theme-white), var(--v-high-emphasis-opacity)) !important;
  }

  .select-field-color {
    color: rgba(var(--v-island-project-select-color)) !important;
  }

  .project-select {
    .vs__dropdown-toggle {
      border-color: rgba(var(--v-island-project-select-color), var(--v-disabled-opacity)) !important;
    }

    //.vs__dropdown-menu {
    //  background-color: rgba(var(--v-island-project-select-bg)) !important;
    //}
  }

  .custom-menu {
    border-color: rgba(var(--v-island-project-select-bg)) !important;

    .full-name {
      color: rgba(var(--v-island-menu-section-color));
    }
  }

  .table-settings,
  .v-skeleton-loader,
  .c-table,
  .filters-block-wrapper {
    background-color: rgba(var(--v-island-card-bg));
  }

  .search {
    .v-field__overlay{
      background-color: rgba(var(--v-island-card-bg));
    }
  }

  .inner-link-wrapper {
    .copy-btn {
      color: rgb(var(--v-theme-secondary));
    }
  }
}
