@use "./componets" as island-componets;

body.skin--default:has(.island-layout) {
  background-color: rgba(var(--v-island-layout-bg)) !important;
}

.v-overlay-container {
  .v-list {
    background-color: rgba(var(--v-island-block-bg)) !important;
  }
}

.modal-card, .Vue-Toastification__toast.Vue-Toastification__toast--default {
  background-color: rgba(var(--v-island-block-bg)) !important;
}

body[data-layout="island"] {
  .island-layout {
    @include island-componets.apply;

    hr {
      border-top: 1px solid rgba(var(--v-island-border-color));
    }

    body.skin--default,
    aside.layout-vertical-nav,
    .layout-content-wrapper {
      background-color: rgba(var(--v-island-layout-bg)) !important;
    }

    .layout-content-wrapper {
      padding: 1rem 1rem 1rem 0;
    }

    .layout-navbar {
      background-color: rgba(var(--v-island-page-bg));
      border-top-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
    }

    .layout-page-content {
      background-color: rgba(var(--v-island-page-bg));
      border-bottom-right-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }

    .title-text-color {
      color: rgba(var(--v-island-menu-section-color)) !important;
    }

    .nav-group-label {
      .nav-item-icon, i.v-icon {
        color: rgba(var(--v-island-menu-item-color)) !important;
      }
    }

    .nav-item-title {
      color: rgba(var(--v-island-menu-item-color));
    }

    .select-field-color {
      color: rgba(var(--v-island-project-select-color)) !important;
    }

    .vs__dropdown-menu {
      background-color: rgba(var(--v-island-project-select-bg)) !important;
    }

    .vs__dropdown-toggle {
      border-color: rgba(var(--v-island-project-select-color), var(--v-disabled-opacity)) !important;
    }

    .custom-menu {
      border-color: rgba(var(--v-island-project-select-bg)) !important;

      .full-name {
        color: rgba(var(--v-island-menu-section-color));
      }
    }

    .table-settings,
    .v-skeleton-loader,
    .c-table,
    .filters-block-wrapper {
      background-color: rgba(var(--v-island-block-bg));
    }

    .search {
      .v-field__overlay {
        background-color: rgba(var(--v-island-block-bg));
      }
    }
  }
}
