@import "@core/scss/base/variables";
@import "./default";
@import "./compact";

@each $color_name, $color in $theme-colors-name {
  @each $color_type, $color_value in $color {
    .table-light-#{$color_name} {
      background-color: rgba(var(--v-theme-#{$color_name}), 0.12)!important;
    }
    .is-hover-row.table-light-#{$color_name} {
      &:hover {
        background-color: rgba(var(--v-theme-#{$color_name}), 0.36) !important;
      }
    }
    .table-light-#{$color_name}-bg {
      background-color: rgba(var(--v-theme-#{$color_name}), 0.36) !important;
    }
  }
}
