$box-shadow: 0 2px 4px 0 rgba(132, 129, 157, 0.24);

@mixin apply {
  .v-select.vs--open{
    .vs__dropdown-toggle {
      border: 1px solid rgba(var(--v-theme-primary));
      box-shadow: $box-shadow;
    }
  }
  .v-select {
    .vs__search::placeholder {
      color: rgba(var(--v-theme-surface-invert), var(--v-low-emphasis-opacity)) !important;
    }
    .vs__dropdown-toggle {
      border: 1px solid rgba(var(--v-theme-surface-invert), var(--v-border-opacity));
      .vs__selected-options {
        .vs__selected {
          .selected-option-value {
            color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
          }
        }
      }
    }
  }
}
