@mixin apply {
  $list-border-radius: var(--v-base-list-border-radius);

  $border-divider-color: rgb(var(--v-theme-divider), var(--v-divider-opacity));
  $border-divider: 1px solid $border-divider-color;
  --default__c-table-cell-padding:  0.5em 1rem 0.5rem 1.25rem;


  .v-data-table.c-table {

    .c-table__header-cell {

      .c-table__header-cell-icon-wrapper {
        position: relative;
        width: 1rem;
        height: 2rem;
        position: relative;
        .c-table__header-cell-icon {
          height: 1rem;
          cursor: pointer;
          position: absolute;
          left: 50%;

          &:first-child {
            top: 2px;
          }
          &:last-child {
            bottom: 2px;
          }
        }
      }

      .column-title {
        padding-right: 1rem;
        &:after {
          content: "";
          height: 14px;
          border-right: 2px solid $border-divider-color;
        }
      }
    }
  }
  .v-table {
    min-height: 32rem;
  }

  .table-wrapper {
    border-radius: $list-border-radius;
    overflow: auto !important;
  }

  .c-table {
    table {
      border-collapse: separate;
      border-spacing: 0;
      th {
        border-top: $border-divider;
        border-bottom: $border-divider;
      }
      .c-table-cell-padding {
        padding: var(--default__c-table-cell-padding) !important;
      }

      td {
        border-bottom: $border-divider !important;
      }
    }

    tr {
      &:last-child {
        border-bottom: initial;
        td {
          &:has(.empty-state-wrapper) {
            border-bottom: initial;
          }
        }
      }
    }
  }
}
