@mixin apply {
  .block-with-selected-filter-items {
    .filter-label {
      font-weight: 400 !important;
      color: rgba(var(--v-theme-surface-invert), var(--v-high-emphasis-opacity));
    }

    .field-generator {
      .text-color-mute  {
        color:  rgba(var(--v-theme-surface-invert), var(--v-low-emphasis-opacity)) !important;
      }

      .v-counter {
        color: rgba(var(--v-theme-surface-invert), var(--v-low-emphasis-opacity)) !important;
      }
    }
  }
}
