@use "./bordered-skin" as bordered-skin;
@use "./v-card" as v-card;
@use "./skeleton" as skeleton;
//@use "./tooltip" as tooltip;
@use "./project-select" as project-select;
@use "./base-list" as base-list;
@use "./per-page-select" as per-page-select;
@use "./base-modal" as base-modal;
@use "./base-select" as base-select;
@use "./base-input" as base-input;
@use "./filters-block" as filters-block;
@use "./data-picker" as data-picker;

@mixin apply {
  @include bordered-skin.apply;
  @include v-card.apply;
  @include skeleton.apply;
  //@include tooltip.apply;
  @include project-select.apply;
  @include base-list.apply;
  @include per-page-select.apply;
  @include base-modal.apply;
  @include base-select.apply;
  @include base-input.apply;
  @include filters-block.apply;
  @include data-picker.apply;

  // Text color
  .text-emphasis-primary {
    color: rgba(var(--v-theme-text-primary), var(--v-high-emphasis-opacity)) !important;
  }

  .text-body-1 {
    color: rgba(var(--v-theme-text-primary), var(--v-high-emphasis-opacity)) !important;
  }

  .text-emphasis-secondary {
    color: rgba(var(--v-theme-text-secondary), var(--v-medium-emphasis-opacity)) !important;
  }

  .text-emphasis-subtitle {
    color: rgba(var(--v-theme-text-subtitle), var(--v-low-emphasis-opacity)) !important;
  }

  .text-emphasis-disabled {
    color: rgba(var(--v-theme-text-disabled), var(--v-text-disabled-opacity)) !important;
  }

  //.text-tooltip {
  //  color: rgb(var(--v-theme-tooltip-text));
  //}
  // ------------------------------------------------------------------------------------

  $card-internal-radius: 12px;

  .card-internal-rounded-1 {
    border-radius: $card-internal-radius
  }

  .card-internal-rounded-2 {
    border-radius: $card-internal-radius/2
  }

  .text-color-label {
    // color: rgba(var(--v-theme-surface-invert), var(--v-low-emphasis-opacity)) !important
    color: red !important
  }
  hr {
    border-top: 1px solid rgb(var(--v-theme-border-system));
  }

  .content-header {
    .breadcrumb-wrapper {
      position: relative;
      padding-left: 3rem;
      &:after {
        top: 14px;
        left: 1.5rem;
        content: '';
        position: absolute;
        height: 50%;
        width: 1px;
        background-color: rgba(var(--v-theme-border-system), var(--v-high-emphasis-opacity));
      }
    }
  }
}
