@mixin apply {
  $option-color: rgba(var(--v-theme-surface-invert), var(--v-medium-emphasis-opacity));
  $selected-option-color: white;

  .v-select.per-page-selector{
    .vs__dropdown-toggle {
      border: 1px solid rgba(var(--v-theme-surface-invert), var(--v-border-opacity));
    }
    .vs__open-indicator {
      color: $option-color;
    }

    .vs__selected-options {
      .vs__selected {
        color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
      }
    }
    .vs__dropdown-menu {
      .vs__dropdown-option--selected {
        color: $selected-option-color !important;
      }
      .vs__dropdown-option--selected.vs__dropdown-option--highlight {
        color: $selected-option-color !important;
      }
    }
  }
}
