@mixin apply {
  .project-select {
    .select-field-color {
      color: rgba(var(--v-island-project-select-color));
    }
    &:has(.vs--open) {
      .vs__dropdown-toggle {
        border-color: rgba(var(--v-theme-primary));
      }
    }

    .vs__dropdown-toggle {
      border-color: rgba(var(--v-island-project-select-color), var(--v-disabled-opacity));
    }

    .vs__dropdown-menu {
      border: 1px solid rgb(var(--v-island-border-color));
    }

    .vs__dropdown-option--selected {
      background-color: rgb(var(--v-theme-primary));
      color: rgb(var(--v-theme-background));

      .select-field-color {
        color: rgb(var(--v-theme-background));
      }
    }
  }
}
