@mixin apply {
  .v-skeleton-loader__bone::after {
    background: linear-gradient(90deg, rgba(var(--v-theme-surface), 0), rgba(var(--v-theme-surface), 0.5), rgba(var(--v-theme-surface), 1), rgba(var(--v-island-skeleton), var('--v-hover-opacity')));
  }
}
