// Write your overrides

@import "./components/base-list";
@import "./components/v-btn";
@import "./components/v-input";
@import "./components/vue-select";
@import "./components/v-breadcrumb";
@import "./components/sidebar";
@import "./components/transitions";
@import "./components/code-view-editor";
@import "./components/v-textarea";
@import "./components/v-tabs";
@import "./components/v-card";
@import "./components/v-icon";
@import "./components/toasts";
@import "./components/v-switch";
@import "./components/gallery";
@import "./components/v-list";
@import "./components/v-check";
@import "./components/check-field";

.text-color-base {
  color: rgba(var(--v-theme-grey-900), var(--v-body-opacity)) !important;
}

.text-color-mute {
  color: rgba(var(--v-theme-grey-900), var(--v-muted-placeholder-opacity)) !important;
}

.text-color-placeholder-disabled {
  color: rgba(var(--v-theme-grey-900), var(--v-disabled-opacity)) !important;
}

.no-border {
  border-style: none !important;
}
html {
  &.v-overlay-scroll-blocked {
    overflow-y: hidden;
  }
}

.font-weight-semi-bold {
  font-weight: 600;
}

hr {
  border: 0;
  border-top: 1px solid rgb(var(--v-theme-grey-200));
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.input-field {
  .v-input--density-compact {
    height: initial;
  }
  .v-input__control {
    .v-field__field {
      height: 2rem;
      min-height: 2rem;
    }
  }
  .v-text-field {
    input.v-field__input {
      border: 1px solid var(--v-theme-grey-300);
      height: 2rem;
      min-height: 2rem;
    }
  }
}

.layout-wrapper.layout-nav-type-vertical {
  .navbar-blur.layout-navbar {
    .navbar-content-container {
      background: rgb(var(--v-theme-background));
      box-shadow: none;
      padding: 0;
    }
  }
}

.v-window {
  div {
    transition: none !important;
  }
}

html.custom-scroll {
  * {
    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(var(--v-theme-perfect-scrollbar-thumb)) !important;
      border-radius: 8px;
      border: 2px solid transparent;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}

.text-body-1,
.text-body-2 {
  color: rgba(var(--v-theme-grey-900), var(--v-high-emphasis-opacity));
}

.lh-normal {
  line-height: normal;
}

.white-space-break-spaces {
  white-space: break-spaces;
}
